body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size-adjust: inherit;
  background-color: #f5f7fb;
}


.pageContent {
  position: relative;
  min-height: 100vh;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dashboardNavigationLogo {
  margin-top: 1em;
  margin-bottom: 1em;
  width: 400px;
}

.loginLogo {
  width: 200px;
}

.loginInputLabel {
  font-weight: 500;
  color: #545454;
}

.prizeCard {
  background-color: #f5f7fb;
}

.primaryCard {
  border-top: 0.35em solid #467fcf;
}

.secondaryCard {
  border-top: 0.35em solid #0B2027;
}

.warningCard {
  border-top: 0.35em solid #e0820b;
}

.successCard {
  border-top: 0.35em solid #069126;
}

.errorCard {
  border-top: 0.35em solid #7e0c1c;
}